<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Static/CSS/urok1.css"> 
    <title>
    </title>
</head>
<body>

    <aside>
        <div class="navbar">
            <a href="/">Все трансляции</a>
            <a href="/about.html">О проекте</a>
        </div>
    </aside>
    <header>
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Добро пожаловать на LifeSpot! Здесь вы можете смотреть прямые трансляции музыки из всего мира.</p>

        <div class="reviews">
            <div class="review-button">
                <button onclick="getReviews()">Оставить отзыв</button>
            </div>
        </div>
    </header>

    

    <script src="/js/JavaScript.js"></script>
</body>
</html>